@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    E-Mail : Leon.ID@QQ.COM<br />
    Github : CuteLeon<br />
</address>

<address>
    <strong>Github:</strong>   <a href="https://github.com/CuteLeon">https://github.com/CuteLeon</a><br />
    <strong>Respository:</strong> <a href="https://github.com/CuteLeon/LeonNote">https://github.com/CuteLeon/LeonNote</a>
</address>